@import '../../styles/mixins.scss';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  border: 0.2rem solid;
  box-shadow: 0.4rem 0.4rem;
  width: 95%;
  margin: auto;
  margin-top: 0;

  @include spacify(padding, medium);
  @include spacify(margin-top, x-small);

  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include respond(sm) {
      width: 80%;
    }

    @include respond(md) {
      width: 50%;
    }

    @include respond(lg) {
      width: 35%;
    }

  }

  &__navigation-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;

    @include spacify(gap, x-small);

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

  }

  &__navigation-item-name {
    @include fontify(bold, x-small);
    position: relative;
    z-index: 2;
  }

  &__navigation-item-icon {
    font-size: 3.5rem;

    @include respond(md) {
      font-size: 4.5rem;
    }
  }
}

.active {
  &::after {
    content: "";
    width: 75%;
    height: 100%;
    position: absolute;
    z-index: -1;
    right: -5%;
    bottom: -20%;

    @include themify(background-color, primary);
  }
}