@import '../../styles/mixins.scss';

.upload-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include spacify(gap, large);


  &__dropzone {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 20rem;
    border: 0.3rem solid;
    box-shadow: 0.4rem 0.4rem;
    border-radius: 1rem;
    @include themify(background-color, primary);
  }

  &__drop-filename {
    text-align: center;
    overflow-wrap: anywhere;
    max-width: 90%;

    @include fontify(bold, medium);
  }

  &__input {
    border: 0.3rem solid;
    box-shadow: 0.4rem 0.4rem;
    border-radius: 0.5rem;
    @include fontify(bold, small);


    &::placeholder {
      @include fontify(bold, small);
      @include themify(color, custom-grey);
    }

    &:focus {
      border: 0.3rem solid;
      outline: 0;
    }

    @include spacify(padding, x-small);
    @include themify(background-color, background);
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 0.3rem solid;
    box-shadow: 0.4rem 0.4rem;
    border-radius: 0.5rem;
    transition: all 0.25s ease;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    @include spacify(padding, x-small);
    @include spacify(gap, x-small);
    @include themify(background-color, primary);
    @include fontify(bold, small);

  }
}

.attributes {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include spacify(gap, large);

  &__fields {
    display: flex;
    align-items: center;
    @include spacify(gap, small);
  }

  &__input {
    border: 0.3rem solid;
    box-shadow: 0.4rem 0.4rem;
    border-radius: 0.5rem;
    @include fontify(bold, small);
    width: 50%;


    &::placeholder {
      @include fontify(bold, small);
      @include themify(color, custom-grey);
    }

    &:focus {
      border: 0.3rem solid;
      outline: 0;
    }

    @include spacify(padding, x-small);
    @include themify(background-color, background);
  }

  &__button {
    width: 100%;
    border: 0.3rem solid;
    box-shadow: 0.4rem 0.4rem;
    border-radius: 0.5rem;
    transition: all 0.25s ease;

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }

    @include spacify(padding, x-small);
    @include themify(background-color, secondary);
    @include fontify(bold, small);
  }
}

.error {
  text-align: center;
  @include themify(color, danger);
  @include fontify(bold, small);
}

.step-text {
  text-align: center;
  @include fontify(bold, medium);
}