@import '../../styles/mixins.scss';

.my-nfts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include spacify(gap, x-large);

  &__message {
    text-align: center;
    @include spacify(padding-right, x-small);
    @include spacify(padding-left, x-small);
    @include fontify(bold, small);

    @include respond (md) {
      @include fontify(bold, medium);
    }
  }
}