@import '../../styles/mixins.scss';

.my-nfts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include spacify(gap, x-large);

  &__message {
    text-align: center;
    @include fontify(bold, medium);
  }
}