@import '../../styles/mixins.scss';

.loading-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include spacify(gap, small);
  }

  &__icon {
    font-size:5rem;
    animation: rotation 1s infinite;
  }

  &__message {
    text-align: center;
    @include fontify(bold, medium);
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}